/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*
  Margin
*/
.mt-5{
  margin-top: 5px;
}
.mt-25{
  margin-top: 25px!important;
}
/*disable*/
.disable{
  display: none;
}
/*
  Imagen size
*/
.img-50{
  width: 50px;
}
/*
Titulos
*/
.titulo_1{
  text-shadow: 0 0 8px #333;
  text-align: left ;
  padding-left: 5%;
}
.titulo_2{
  text-shadow: 0 0 8px #333;
  text-align: right ;
  padding-right: 5%;
}
.principal{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
Font size
*/
.f{
  font-size: 90px;
  color: #8d6e63;
}
/*Shadows*/
.text-sh{
  font-size: 3rem;
  text-shadow: black 10px 10px 20px;
}